
@model IdentitySample.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}

<h1>@ViewBag.LoginProvider</h1>

<div class="form-group">
    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
    <h4> @Model.Email is unauthorized to access this site </h4>
    </div>
